.App {
  text-align: center;
}
.top{
  background-color: white;
  padding: 20px;
}
*{
  font-family: 'Courier New', Courier, monospace;
}

.center {
  width: 80%;
  margin: auto;
}

.title{
  color: deepskyblue;
  font-size: 3em;
}

ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
ul li{
  margin: 0 20px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.my-link{
  color: deepskyblue;
  text-decoration: none;
  font-weight: bolder;
}

